#landing {
    .container {
        @include set(760) {
            flex-direction: column;
        }

        .left-landing {
            width: 60%;
            h1 {
                @include font-size(81);
                font-weight: 800;
                line-height: 105%;
                color: $grey;
                span {
                    color: $primary;
                }

                @include set(768) {
                    @include font-size(70);
                }
                @include set(500) {
                    @include font-size(55);
                }
            }

            p {
                @include font-size(26);
                color: $grey;
                @include padding(0, 10, 0, 0);

                @include set(500) {
                    @include font-size(20);
                }
            }

            @include set(760) {
                width: 100%;
                margin-top: 15rem;
            }
        }
        .right-landing {
            img {
                height: #{toRem(850)};
                object-fit: contain;

                @include set(600) {
                    height: auto;
                }
            }
        }
    }
}

#genre {
    .container {
        .section-heading {
            h3 {
                @include font-size(50);
                font-weight: 800;
                color: $grey;
                @include margin(20, 0, 20, 0);
            }
        }

        .genre-container {
            @include margin(0, 0, 90, 0);
            display: flex;
            justify-content: space-between;

            .genre-card {
                @include width(282);
                @include height(354);

                position: relative;
                transition: all 0.3s ease;

                @include set(1600) {
                    @include width(270);
                    @include height(330);
                }
                @include set(1024) {
                    @include width(240);
                    @include height(280);
                }
                @include set(991) {
                    @include width(255);
                    @include height(280);
                }
                @include set(768) {
                    @include width(200);
                    @include height(280);
                }

                @include set(767) {
                    @include width(290);
                    @include height(280);

                    &:nth-last-child(n + 3) {
                        display: none;
                    }
                }

                @include set(600) {
                    &:nth-last-child(n + 2) {
                        display: none;
                    }
                    width: 100%;
                }

                img {
                    width: inherit;
                    height: inherit;
                    object-fit: cover;
                    border-radius: #{toRem(20)};
                    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
                }

                .img-overlay {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgb(46, 139, 202);
                    background: linear-gradient(
                        180deg,
                        rgba(46, 139, 202, 0) 0%,
                        rgba(46, 139, 202, 1) 100%
                    );
                    top: 0;
                    left: 0;
                    border-radius: #{toRem(20)};
                }

                h3 {
                    position: absolute;
                    bottom: #{toRem(10)};
                    left: #{toRem(20)};
                    @include font-size(42);
                    color: $white;
                    font-weight: 800;
                }

                &:hover {
                    transform: scale(1.03);
                }
            }
        }
    }
}

#books {
    .container {
        .section-heading {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                @include font-size(50);
                font-weight: 800;
                color: $grey;
                @include margin(20, 0, 20, 0);
            }

            .genre-switch {
                #genreBtn {
                    @include font-size(18);

                    border: 1px solid black;
                    border-radius: #{toRem(4)};
                    @include padding(4, 0, 4, 2);

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        .book-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .book-card {
                @include width(751);
                @include height(565);
                border-radius: #{toRem(25)};
                display: flex;
                box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
                @include margin(0, 0, 36, 0);

                @include set(1600) {
                    @include width(700);
                }
                @include set(1280) {
                    @include width(650);
                }
                @include set(1152) {
                    @include width(700);
                }
                @include set(1024) {
                    @include width(620);
                }
                @include set(991) {
                    @include width(670);
                }
                @include set(768) {
                    @include width(530);
                    @include height(500);

                    .right-book {
                        .title {
                            font-size: 2rem !important;
                        }
                    }
                }
                @include set(600) {
                    flex-direction: column;
                    height: auto;

                    .left-book {
                        width: 100% !important;
                        height: 20rem !important;
                    }
                    .right-book {
                        width: 100% !important;
                    }
                }

                .left-book {
                    width: 50%;
                    height: inherit;
                    position: relative;

                    img {
                        width: 100%;
                        height: inherit;
                        object-fit: cover;
                        border-radius: #{toRem(25)};
                    }

                    .img-overlay {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: rgb(46, 139, 202);
                        background: linear-gradient(
                            180deg,
                            rgba(46, 139, 202, 0.4) 0%,
                            rgba(46, 139, 202, 0.8) 100%
                        );
                        top: 0;
                        left: 0;
                        border-radius: #{toRem(20)};
                    }
                }
                .right-book {
                    width: 50%;

                    @include padding(35, 30, 35, 30);
                    .title {
                        @include font-size(42);
                        font-weight: 800;
                        color: $grey;
                        line-height: 110%;
                        @include margin(0, 0, 10, 0);
                    }
                    .author {
                        @include font-size(24);
                        @include margin(0, 0, 15, 0);
                    }
                    .genre-cat {
                        color: #b6b6b6;
                        @include font-size(18);
                    }
                    .price {
                        @include font-size(38);
                        font-weight: 700;
                        color: $primary;
                        @include margin(28, 0, 18, 0);
                    }
                    .add-to-cart {
                        @include font-size(30);
                        font-weight: 700;
                        background-color: $primary;
                        color: $white;
                        @include padding(10, 18, 10, 18);
                        border-radius: #{toRem(10)};
                        box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
                        transition: all 0.2s ease;

                        &:hover {
                            background-color: rgba($primary, $alpha: 0.8);
                            transform: translateY(-2px);
                        }

                        @include set(768) {
                            @include font-size(24);
                        }
                    }
                }
            }
        }
    }
}
