@import './global/typography.scss';
@import './global/variables.scss';
@import './global/formula.scss';
@import './global/media.scss';
@import './global/header.scss';
@import './includes/home.scss';

* {
    margin: 0;
}

body {
    overflow-x: hidden;
    position: relative;
}

section {
    z-index: 0;
    position: relative;
}
